[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ['py37']
line-length = 120

[tool.ruff]
line-length = 120
# Never enforce `E501`, enforced by black
ignore = ["E501"]
